# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# OS/editor noise
.DS_Store
.idea/
.vscode/

LEGACY.md
!README.md

talosconfig

model/.venv/*
model/mlflow.db
model/mlruns/*
*.env
*.keras
*.pyc