# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# OS/editor noise
.DS_Store
.idea/
.vscode/

LEGACY.md
!README.md

talosconfig

microservices/prediction/.venv/*